<div>
  <div id="app"></div>
  <h1 class="font-bold text-4xl">HomePages#index1</h1>
  <p>Find me in app/views/home_pages/index.html.erb</p>
</div>

<%= form_with url: subscribe_path(format: :csv), method: :post, local: true, data: { turbo: false } do |f| %>
  <%= f.label :ids, "Nhập danh sách ID, cách nhau bởi dấu phẩy hoặc xuống dòng:" %><br>
  <%= f.text_area :ids, rows: 5, placeholder: "1,2,3 hoặc mỗi ID trên một dòng" %>
  <%= f.submit "Xuất CSV" %>
<% end %>



<%= turbo_frame_tag "posts-frame" do %>
  <div id="posts-container">
    <p>Chưa có dữ liệu bài viết nào.</p>
  </div>
<% end %>
<%= render "shared/error", object: @posts %>



<form action="/upload" method="post" enctype="multipart/form-data" data-turbo="false">
  <label for="file">Chọn hoặc kéo thả file CSV:</label><br>
  <input type="file" name="file" id="file" accept=".csv"><br><br>
  <input type="submit" value="Tải lên">
</form>
